.greeting{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    font-size: 30px;
    color:#fff;
}

.imagen{
    width: 200px;
    height: 200px;
}

section{
    background-color:#dddddd;
}